<ion-header>
  <ion-navbar>
    <ion-title>
      TimeKeeper
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home" text-center>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col class="date-label input-col">
        Employee Id
      </ion-col>
      <ion-col class="input-col">
      <ion-input placeholder="Enter here" [(ngModel)]="employeeId" text-center></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="date-label input-col">
        Date
      </ion-col>
      <ion-col class="input-col">
      <ion-datetime displayFormat="MMM/DD/YYYY" [(ngModel)]="date" placeholder="Pick a date"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <button ion-button (click)="submitForm()" class="submit-btn">Submit</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="finalTimeToday">
    <ion-row>
      <ion-col width-50 offset-25 class="">
        <strong>
        Day
        </strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 offset-25>
        {{finalTimeToday}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="finalWeeklyTime">
    <ion-row>
      <ion-col width-50 offset-25>
        <strong>
          This Week
        </strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 offset-25>
        {{finalWeeklyTime}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="table-grid">
  <ion-row *ngFor="let swipe of swipeList" class="">
      <ion-col class="table-column">
        {{swipe.swipeInOut}}
      </ion-col>
      <ion-col class="table-column">
        {{swipe.swipeTime}}
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
