.toolbar-title {
  text-align: center;
}
.table-grid {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 0px;
}
.table-column {
  border: 1px solid #ddd;
}
.half-width {
  width: 50%;
}
.submit-btn {
  width: 140px;
  height: 41px;
}
.ion-label {
  button {
    width: 140px;
    height: 41px;
  }
}
